// IMPORT 
@import "_footer";
@import "_animaciones";         

// ANIDAMIENTO 
* {
    margin: 0; padding: 0; 
    font-family: raleway;
}

/* VARIABLES */ 
$beige: #9c9c58de;
$marronclaro: #757544de;
$negro: black;
$beigeclaro: #cbe49c;

body {
    background-color: $beige;
    header {
        background-color: $marronclaro;   

// LOGO Y TITULO 
        .logo {
                width: 100px;
                height: 100px;
                padding: 10px 0px 10px 5px;
        }
        .titulo {
            font-size: 55px;
            font-weight: bold;
            padding-top: 25px;
            text-align: center;
            color: $negro;
        }

// NAV-BAR       
        .barra-nav {
                font-size: 20px;
                margin: 10px;
                background-color: $beigeclaro;
                color: $negro;
                font-weight: bold;
                box-shadow: -1px 13px 20px -4px rgba(0, 0, 0, 0.68);
                -webkit-box-shadow: -1px 13px 20px -4px rgba(0, 0, 0, 0.68);
                -moz-box-shadow: -1px 13px 20px -4px rgba(0, 0, 0, 0.68);
            }
            .link-dark:hover {
                color: black;
                background-color: whitesmoke;
            }
        }
    }
    
// MAIN       
    main {
        .tituloAnimado {
            text-align: center;
            padding: 20px;
            font-weight: bold;
            color: $negro;
        }

// CAROUSEL
        .carousel {
                display: flex;
                justify-content: center;
        }
        .carrusel-img {
            box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
        }

// CARDS Y FORM
    .card-gama {
        margin-top: 40px;
        margin-left: 0px;
        font-size: 17px;
        font-weight: bold;
        background-color: $beigeclaro;
        box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
    }

    .card-mascota {
        margin: 40px 0px 15px 10px;
        font-weight: bold;
        background-color: $beigeclaro;
        box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
    }

    fieldset p {
        font-size: 27px;
        text-align: center;
    }

    fieldset legend {
        font-weight: bold;
        padding: 5px;
        font-size: 24px;
    }

    .form {
        background-color: $beigeclaro;
        width: 420px;
        padding: 10px;
        margin: 45px 20px 20px 10px;
        font-weight: bold;
        box-shadow: -1px 13px 20px -4px rgba(0, 0, 0, 0.68);
        -webkit-box-shadow: -1px 13px 20px -4px rgba(0, 0, 0, 0.68);
        -moz-box-shadow: -1px 13px 20px -4px rgba(0, 0, 0, 0.68);
    }

    input {
        padding: 5px;
    }

    .icono {
        font-size: 20px;
    }
}



